<ion-view>
    <ion-content>
        <div class="row row-home row-home">
            <a class="button col" ng-click="openCordovaWebView('http://teknoassist.opencrmitalia.com/supporto/', '_blank', 'location=no')">
                <div class="item item-text-wrap  positive-bg light">
                    <div class="icon ion-wand padding-horizontal"></div>Apri ticket
                </div>
            </a>
            <a class="button col" href="#/app/chat/rooms">
                <div class="item item-text-wrap  positive-bg light">
                    <div class="icon ion-chatbubbles padding-horizontal"></div>Chat <span ng-if="$root.adminOnline">online</span><span ng-if="!$root.adminOnline">offline</span>
                </div>
            </a>
        </div>
        <div class="row row-home">
            <a class="button col" href="#/app/news">
                <div class="item item-text-wrap  positive-bg light">
                    <div class="icon ion-speakerphone padding-horizontal"></div>News
                </div>
            </a>
            <a class="button col" href="#/app/not-found">
                <div class="item item-text-wrap  positive-bg light">
                    <div class="icon ion-person-stalker padding-horizontal"></div>Area privata
                </div>
            </a>
        </div>
        <div class="row row-home">
            <a class="button col" href="#/app/not-found">
                <div class="item item-text-wrap  positive-bg light">
                    <div class="icon ion-archive padding-horizontal"></div>Messaggi
                </div>
            </a>
            <a class="button col" menu-toggle="left">
                <div class="item item-text-wrap  positive-bg light">
                    <div class="icon ion-information-circled padding-horizontal"></div>Azienda
                </div>
            </a>
        </div>
        <div class="card">
            <div class="item item-divider item-positive">
                <i class="icon ion-speakerphone padding-horizontal"></i>News
            </div>
            <div class="list card card-light" ng-if="!slideNews">
                <ion-spinner icon="spiral"></ion-spinner> Caricamento...
            </div>
            <ion-slide-box show-pager="false" auto-play="true" does-continue="true" ng-if="slideNews">
                <ion-slide ng-repeat="news in slideNews">
                    <div class="list card card-light" ng-click="openCordovaWebView('{{news.url}}', '_blank')">
                        <div class="item item-title">
                            <h2>{{news.title_plain}}</h2>
                        </div>
                        <div class="item item-body">
                            <p>{{news.content | sanitizeContent | limitContent: 110}}</p>
                        </div>
                    </div>
                </ion-slide>
            </ion-slide-box>
        </div>
    </ion-content>
</ion-view>
