<ion-side-menus>
    <ion-side-menu-content>
    	<!-- Header	 -->
        <ion-nav-bar align-title="center" class="bar-light nav-title-slide-ios7">
            <ion-nav-title>
                <a href="#/app/home"><img src="images/logo.png" style="width:151px;height:40px"></a>
            </ion-nav-title>
            <ion-nav-back-button>
            </ion-nav-back-button>
            <ion-nav-buttons side="left">
                <button menu-toggle="left" class="button button-icon icon ion-navicon">
                </button>
            </ion-nav-buttons>
            <ion-nav-buttons side="right">
                <button class="button button-icon icon ion-email">
                </button>
            </ion-nav-buttons>
        </ion-nav-bar>
        <!-- UI view -->
        <ion-nav-view name="content" animation="slide-left-right">
        </ion-nav-view>
    </ion-side-menu-content>
    <!-- Sidebar -->
    <ion-side-menu side="left">
        <header class="bar bar-header bar-positive bar-stable">
            <h1 class="title">Azienda</h1>
        </header>
        <ion-content class="has-header">
            <ion-list>
                <ion-item menu-close ng-click="openCordovaWebView('http://teknoassist.it', '_blank')">
                    Chi Siamo
                </ion-item>
                <ion-item menu-close ng-click="openCordovaWebView('http://teknoassist.it', '_blank')">
                    Dove Siamo
                </ion-item>
                <ion-item menu-close ng-click="openCordovaWebView('http://teknoassist.it', '_blank')">
                    Mission
                </ion-item>
                <ion-item menu-close ng-click="openCordovaWebView('http://teknoassist.it', '_blank')">
                    Contatti
                </ion-item>
            </ion-list>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>
