<ion-view>
    <ion-content>
        <div class="list" ng-show="newsList">
            <div class="item item-body" ng-repeat="news in newsList" type="item-text-wrap" ng-click="openCordovaWebView('{{news.url}}', '_blank')">
                <h4><i class="icon ion-document-text padding-horizontal"></i>{{news.title_plain}}</h4>
                <img class="full-image" src="{{news.attachments[0].url}}">
                <p>{{news.content | sanitizeContent | limitContent: 220}}</p>
                <div am-time-ago="news.date" class="item-note">
                </div>
            </div>
        </div>
        <div class="list" ng-hide="newsList">
            <div class="item">
                <ion-spinner icon="spiral"></ion-spinner> Caricamento...
            </div>
        </div>
    </ion-content>
</ion-view>
