<ion-view>
    <ion-content>
        <ion-list ng-show="rooms">
            <ion-item class="item-icon-left" ng-repeat="room in rooms | orderBy: '-lastMessage'" type="item-text-wrap" ng-click="openChatRoom(room.id)">
                <i class="icon positive ion-ios-circle-filled" ng-if="room.online"></i>
                <i class="icon assertive ion-ios-circle-outline" ng-if="!room.online"></i>
                <h2>{{room.name}} - <span>{{room.email}}</span></h2>
                <span am-time-ago="room.lastMessage"></span>
            </ion-item>
        </ion-list>
        <ion-list ng-hide="rooms.length">
            <ion-item class="textCenter">
                <i class="icon ion-loading-c"></i> Loading Rooms
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
