<ion-view>
    <ion-content delegate-handle="chatScroll">
        <ion-list ng-show="roomName">
            <ion-item ng-hide="chats" class="textCenter">
                <i class="icon ion-loading-c"></i> Loading Chats
            </ion-item>
            <ion-item ng-if="chats.length == 0" class="textCenter">
                <h4>No messages in this room. Send message to start.</h4>
            </ion-item>
            <div class="chat-bubble" ng-repeat="chat in chats | orderBy:'-createdAt':true" type="item-text-wrap" ng-class="{'right': $root.from.displayName === chat.from, 'left': $root.from.displayName !== chat.from}">
                <div class="message" ng-bind-html="chat.message" autolinker></div>
                <div class="message-detail">
                    <span ng-click="viewProfile(message)" class="bold">{{chat.from}}</span>,
                    <span am-time-ago="chat.createdAt"></span>
                </div>
                <!--                 <ion-option-button class="button-assertive" ng-click="remove(chat)">
                    Delete
                </ion-option-button> -->
            </div>
        </ion-list>
        <ion-list ng-hide="roomName">
            <ion-item class="textCenter">
                <h4>Please select a room to chat first.</h4>
            </ion-item>
        </ion-list>
    </ion-content>
    <ion-footer-bar keyboard-attach class="bar-stable footer-chat item-input-inset">
        <label class="item-input-wrapper">
            <input type="text" ng-model="IM.textMessage" ng-enter="sendMessage(IM.textMessage)" placeholder="Type in your message..." dir="auto">
        </label>
        <span>
          <button class="button button-clear button-icon button-positive icon ion-ios-camera-outline"></button>
          <i class="buttons-seperator icon ion-android-more-vertical"></i>
          <button class="button button-clear button-icon button-positive icon ion-ios-upload-outline"></button>
        </span>
    </ion-footer-bar>
</ion-view>
