<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-positive">

    <!-- Rooms List Tab -->
    <ion-tab title="Rooms" icon-off="ion-chatbubbles" ng-if="$root.admin" icon-on="ion-chatbubbles" href="#/app/chat/rooms">
        <ion-nav-view name="chat-rooms"></ion-nav-view>
    </ion-tab>

    <!-- Current Selected Chat Tab -->
    <ion-tab title="Chat" icon-off="ion-chatbubble-working" icon-on="ion-chatbubble-working" href="#/app/chat/home">
        <ion-nav-view name="chat-home"></ion-nav-view>
    </ion-tab>

    <!-- Logout Button -->
    <ion-tab title="Logout" icon-off="ion-ios-cog" icon-on="ion-ios-cog" ng-click="logout()" href="">
    </ion-tab>


</ion-tabs>
