.card {
	.card-light {
		margin: 10px;
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		box-shadow: none;
		.item-title, .item-body {
			padding: 6px;
		}
	}
}

.row-home {
  .item {
    border-color: transparent;
  }
}

.list:last-child.card {
	&.card-light {
		margin: 10px;
	}
}

// Android title fix

.platform-android .header-item.title {
    transition-duration: 0ms;
}
.platform-android .header-item.buttons {
    transition-duration: 0ms;
}

// Chat user side
.cf {
	clear: both !important;
}

.bold {
  font-weight: bold;
}

a.autolinker {
  color: #3b88c3;
  text-decoration: none;
}

.chat-user-side {
	text-align: right;
}

.chat-bubble {
  display: inline-block;
  border-radius: 5px;
  padding: 10px 18px;
  position: relative;
  clear: both;
  margin: 10px;
  max-width: 85%;
}

.chat-bubble:before {
  content: "\00a0";
  display: block;
  height: 16px;
  width: 9px;
  position: absolute;
  bottom: -7.5px;
}

.chat-bubble.left {
  background-color: #e6e5eb;
  float: left;
  margin-left: 15px;
}

.chat-bubble.left:before {
  background-color: #e6e5eb;
  left: 10px;
  -webkit-transform: rotate(70deg) skew(5deg);
}

.chat-bubble.right {
  background-color: #158ffe;
  color: #fff;
  float: right;
  margin-right: 15px;
}

.chat-bubble.right:before {
  background-color: #158ffe;
  right: 10px;
  -webkit-transform: rotate(118deg) skew(-5deg);
}